
.winky-sans-uniquifier{
    font-family: "Winky Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
.body{
    background-color: rgb(196, 188, 121);
}
.head{
    background-color: rgb(231, 169, 53);
}
.webtitle{
    align-content: center;
    text-align: center;
    font-family: "Winky Sans", sans-serif;
    font-optical-sizing: auto;
}
.menu{
    background-color: rgb(231, 169, 53);
    display: flex;
    padding: 10px 20px;
    align-items: center;
    justify-content: space-between;
}
.menulist{
    background-color: rgb(235, 87, 42);
    border-left: 10px;
    border-right: 10px;
    padding: 10px;
}