.body{
    background-color: rgb(196, 188, 121);
}
.head{
    background-color: rgb(231, 169, 53);
}
.webtitle{
    align-content: center;
}
.menu{
    background-color: rgb(231, 169, 53);
}
.menulist{
    background-color: rgb(231, 169, 53);
}