@font-face{
    font-family: 'Winky Sans';
    src:url('Fonts/Winky Sans/winky-sans-latin-300-normal.woff2') format('woff2'),
        url('Fonts/Winky Sans/winky-sans-latin-300-normal.woff') format('woff'),
        url('Fonts/Winky Sans/winky-sans-latin-300-normal.ttf') format('truetype'),
        url('Fonts/Winky Sans/winky-sans-latin-300-normal.svg#WinkySans') format('svg');
    font-weight: 300 900;
    font-style: normal;
}
@font-face{
    font-family: 'Short Stack';
    src:url('Fonts/Short Stack/webfonts/short-stack-latin-400-normal.woff') format('woff'),
        url('Fonts/Short Stack/webfonts/short-stack-latin-400-normal.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
.body{
    background-color: rgb(245, 245, 245);
}
.head{
    background-color: rgb(88, 154, 219);
}
.webtitle{
    align-content: center;
    text-align: center;
    font-family: "Winky Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 100px;
}
.menu{
    background-color: rgb(192, 216, 240);
    display: flex;
    padding: 10px 20px;
    align-items: center;
    justify-content: space-between;
}
.menulist{
    background-color: rgb(207, 203, 200);
    border-left: 10px;
    border-right: 10px;
    padding: 10px;
    font-family: "Winky Sans", sans-serif;
    font-size: small;
}
.menu:hover{
    background-color: rgb(140, 176, 239);
}
.menu:active{
    background-color: rgb(140, 176, 239);
}
.menulist:hover{
    background-color: rgb(240, 188, 137);
}
.index{
    background-color: rgb(240, 188, 137);
    border-radius: 10px;
    padding: 10px;
}
.index:hover{
    background-color: rgb(233, 162, 92);
}
.intro{
    font-family: "Short Stack", sans-serif;
    font-size: 30px;
    text-align: center;
    text-decoration: cornflowerblue dotted underline;
    /*color: lightskyblue;*/
    font-weight: 600;
    font-style: bold;

    --colorA: rgb(182, 129, 129);
    --colorB: rgb(64, 5, 136);

    animation-name: Colors;
    animation-duration: var(--duration);
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes Colors{
    from{
        color: var(--colorA);
    }
    to{
        color: var(--colorB);
    }
}
