body{
  margin: 0;
  background-color: #c3dafb;
}

.main{
  background-color: #445bab;
  justify-content: center;
  padding: 35px;
  display: flex;
  flex-direction: column;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.menu{
  padding: 20em;
}