.title{
  color: blueviolet;
  text-align: center;
  padding: 2%;
}

.navheader{
  display: flex;
  justify-content: center;
}

.iconlink{
  width: 30%;
  padding: 2%;
  background-color: aliceblue;
}

.navlinks{
  width: 70%;
  padding: 2%;
  justify-content: end;
  display: flex;
  background-color: aliceblue;
}

.tablink{
  width: 30%;
  border: none;
  padding: 2%;
  background-color: aliceblue;
}

.tablink:hover{
  color: magenta;
}
